name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
    - name: Cache SonarCloud packages
      uses: actions/cache@v1
      with:
        path: ~\sonar\cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
    - name: Cache SonarCloud scanner
      id: cache-sonar-scanner
      uses: actions/cache@v1
      with:
        path: .\.sonar\scanner
        key: ${{ runner.os }}-sonar-scanner
        restore-keys: ${{ runner.os }}-sonar-scanner
    - name: Install SonarCloud scanner
      if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
      shell: powershell
      run: |
        New-Item -Path .\.sonar\scanner -ItemType Directory
        dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
    - name: Test
      shell: powershell
      run: $env:GitHub:Username = "${{ secrets.USER_NAME }}"; $env:GitHub:Token="${{ secrets.USER_TOKEN }}"; dotnet test SoftAPI/SoftAPI.sln --logger "trx;LogFileName=test-results.trx" /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
    - name: Publish unit test-results
      uses: dorny/test-reporter@v1.5.0
      if: success() || failure()
      with:
        name: QualityGate Unit Tests
        path: SoftAPI/SoftAPIClient.Tests/TestResults/test-results.trx,SoftAPI/SoftAPIClient.RestSharpNewtonsoft.Tests/TestResults/test-results.trx
        reporter: dotnet-trx
        fail-on-error: true
    - name: Publish automation test-results
      uses: dorny/test-reporter@v1.5.0
      if: success() || failure()
      with:
        name: QualityGate Automation Tests
        path: SoftAPI/SoftAPIClient.Example/TestResults/test-results.trx
        reporter: dotnet-trx
        fail-on-error: true
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: SoftAPI/SoftAPIClient.RestSharpNewtonsoft.Tests/coverage.opencover.xml,SoftAPI/SoftAPIClient.Tests/coverage.opencover.xml
        verbose: true
        fail_ci_if_error: true
        codecov_curl_args: '-g'
    - name: Build and analyze
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      shell: powershell
      run: |
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"automation-solutions-set_softapi" /o:"automation-solutions-set" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.vstest.reportsPaths=SoftAPI/SoftAPIClient.Tests/TestResults/test-results.trx,SoftAPI/SoftAPIClient.RestSharpNewtonsoft.Tests/TestResults/test-results.trx /d:sonar.cs.opencover.reportsPaths=SoftAPI/SoftAPIClient.Tests/coverage.opencover.xml,SoftAPI/SoftAPIClient.RestSharpNewtonsoft.Tests/coverage.opencover.xml
          dotnet build SoftAPI/SoftAPI.sln
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"